/* Authors: Zack Dong, Ali Ramazani and Muno Siyakurima */

body {
    background-color: powderblue;
}

h1 {
    color: black;
    text-align: center;
    font-size: 200%;
}

p {
    color: black;
    font-size: 20;
}

img {
    width: 30px;
    height: 20px;

}

ul {
    font-size: 20px;
}

pre {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center ;
}