<!-- Author: Muno Siyakurima  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Years</title>
</head>
<style>
    body {
        background-color: powderblue;
    }
    h2 {
        text-align: center;
    }
    .buttons { 
        width: 105%;
        table-layout: fixed;
        border-collapse: collapse;
        background-color: black; 
    }
    td {
        padding: 10px;
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
</style>
<body>
    
    <h1>2018 FIFA World Cup Russia</h1>
    <h2>Overview</h2>
    <p>The 2018 FIFA World Cup Russia thrilled from beginning to end. The 21st edition of the world finals also produced countless moments that will endure in the collective memory of those who love the beautiful game. 
        From Kaliningrad to Ekaterinburg from Saint Petersburg to Sochi, there were smiles and celebrations aplenty as millions came together to enjoy what was a true festival of football. 
        There were goals aplenty: the first and only goalless draw at Russia 2018 came after 36 matches, which was the latest for a single edition in history.
        France were crowned champions for the second time in history and for the first since they were hosts in 1998 after defeating Croatia 4-2 in what will go down as one of the most thrilling World Cup finals ever. 
        Nineteen-year-old Kylian Mbappe became the second teenager in history to score in a World Cup Final, following in the footsteps of Pele who did so as a 17-year-old in 1958. 
        Goals and performances from midfielder Paul Pogba and forward Antoine Griezmann also proved vital in helping Les Bleus become world champions once more.</p>
    <div id="tournament standings">
        <h2>Final Tournament Standings</h2>
        <center>
            <table class=standings>
                <tr bgcolor=#FFD700><td>Winner</td><td>France</td></tr>
                <tr bgcolor="silver"><td>Runner-Up</td><td>Croatia</td></tr>
                <tr bgcolor=#CD7F32><td>Third Place</td><td>Belgium</td></tr>
                <tr ><td>Fourth Place</td><td>England</td></tr>
            </table>
        </center>
    <div id="teams">
        <h2>Teams</h2>
        <table class=buttons>
            <tr>
                <td><button type="button" onclick="location.href='mockup3.html'">Argentina</button></td>
                <td><button type="button">Australia</button></td>
                <td><button type="button">Belgium</button></td>
                <td><button type="button">Brazil</button></td>
            </tr>
            <tr>
                <td><button type="button">Colombia</button></td>
                <td><button type="button">Costa Rica</button></td>
                <td><button type="button">Croatia</button></td>
                <td><button type="button">Denmark</button></td>
            </tr>
            <tr>
                <td><button type="button">Egypt</button></td>
                <td><button type="button">England</button></td>
                <td><button type="button">France</button></td>
                <td><button type="button">Germany</button></td>
            </tr>
            <tr>
                <td><button type="button">Iceland</button></td>
                <td><button type="button">Iran</button></td>
                <td><button type="button">Japan</button></td>
                <td><button type="button">Korea Republic</button></td>
            </tr>
            <tr>
                <td><button type="button">Mexico</button></td>
                <td><button type="button">Morocco</button></td>
                <td><button type="button">Nigeria</button></td>
                <td><button type="button">Panama</button></td>
            </tr>
            <tr>
                <td><button type="button">Peru</button></td>
                <td><button type="button">Poland</button></td>
                <td><button type="button">Portugal</button></td>
                <td><button type="button">Russia</button></td>
            </tr>
            <tr>
                <td><button type="button">Saudi Arabia</button></td>
                <td><button type="button">Senegal</button></td>
                <td><button type="button">Serbia</button></td>
                <td><button type="button">Spain</button></td>
            </tr>
            <tr>
                <td><button type="button">Sweden</button></td>
                <td><button type="button">Switzerland</button></td>
                <td><button type="button">Tunisia</button></td>
                <td><button type="button">Uruguay</button></td>
            </tr>
        </table>
    </div>
    <h2>Tournament Statistics</h2>
    <center>
        <img src=https://github.com/ramazania/cs257/blob/main/webapp/images/stats.png?raw=true> 
    </center>
</body>
</html>