<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> 
        REQUEST: /tournaments
        RESPONSE: an alphabetized JSON list of strings, each of which is a FIFA Tournament.

    </p>

    <p>
        REQUEST: /teams
        RESPONSE: an alphabetized JSON list of strings, each of which is a qualified team.
    </p>

    <p>
        REQUEST: /teams[?name={TEAM_NAME}&year={TOURNAMENT_YEAR}]
        RESPONSE: a JSON list of dictionaries, each of which represents one
        team, sorted by name in alphabetical order. Each team dictionary will have the
        following fields.
        
            name -- (string) the name of the team
            code -- (string) the code of the team
            year -- (integer) the year the team played
    </p>

    <p>
        REQUEST: /tournament / <year>
        RESPONSE: a JSON list of dictionaries, each of which represents one
        tournament, sorted by name in alphabetical order. Each tournament dictionary will have the
        following fields.
        
           name -- (string) the name of the tournament
           year -- (integer) the year of the tournament
    </p>

    <p>
        REQUEST: /statistics / <year>
        RESPONSE: a JSON list of dictionaries, each of which represents the tournament statistics for the given year.
        
            year -- (integer) the year of the tournament
            winner -- (string) the name of the tournament
            golden_ball -- (string) name of the best player
            golden_boot -- (string) name of the top scorer player
            golden_glove -- (string) name of the best goal-keeper
            best_young_player -- (string) name of the best young player
    </p>

</body>
</html>

