<!-- Author: Ali Ramazani  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="static/mockup3.css">
    <title>Team Profile</title>
</head>
<body>
    <h1>Argentina (2018)</h1>
    <center>
        <img align="middle" src="https://wallpapercave.com/wp/itYcVwJ.png", width='300px', height='200px', 
        alt="Argentina Flag">
    </center>
    <center>
        <h2>Overview</h2>
        <pre>The Argentina national football team represents Argentina in men's international football. 
                 It is administered by the Argentine Football Association, the governing body for football in Argentina. 
 Argentina's home stadium is Estadio Monumental Antonio Vespucio Liberti in Buenos Aires.
        </pre>
    </center>
    <center>
    <h2>Squad Info</h2>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 42%;
        }
        
        td, th {
          text-align: left;
          padding: 4px;
        }
        
        tr:nth-child(even) {
          background-color: white;
        }
        </style>
        </head>
        <body>
        
        <table>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Shirt Number</th>
          </tr>
          <tr>
            <td>Guzmán Nahuel</td>
            <td>GK</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Mercado Gabriel</td>
            <td>DF</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Tagliafico Nicolás</td>
            <td>DF</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Ansaldi Cristian</td>
            <td>DF</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Biglia Lucas</td>
            <td>MF</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Fazio Federico</td>
            <td>DF</td>
            <td>6</td>
          </tr>
          <tr>
            <td>Banega Éver</td>
            <td>MF</td>
            <td>7</td>
          </tr>
          <tr>
            <td>Acuña Marcos</td>
            <td>DF</td>
            <td>8</td>
          </tr>
          <tr>
            <td>Higuaín Gonzalo</td>
            <td>FW</td>
            <td>9</td>
          </tr>
          <tr>
            <td>Messi Lionel</td>
            <td>FW</td>
            <td>10</td>
          </tr>
          <tr>
            <td>Di María Ángel</td>
            <td>MF</td>
            <td>11</td>
          </tr>
        </table>
    </center>

    <center>
        <h2>Group</h2>
        <img align="middle" src="https://github.com/ramazania/cs257/blob/main/webapp/images/Group%201.png?raw=true" 
            alt="Group 1" style="width: 800px; height: 200px"> 
        <h2>Matches</h2>
        <img align="middle" src="https://github.com/ramazania/cs257/blob/main/webapp/wireframes/Games.png?raw=true" 
        alt="Bracket" style="width: 800px; height: 500px">
    </center>


</body>
</html>