<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../static/team.js" ></script>
    <title>Team Profile</title>
</head>
<body>
    <center>
        <h1><a href="http://localhost:5000/">FIFA World Cup </a></h1>
        <h2>Team Name (year)</h1>
        <h2>Team Flag Here</h2>
        <h3>Team Overview</h3>
        <h3>Team Squad
            <p><button id="squad_button">Get Squad</button></p>
            <p><table id="results_table"></table></p>
        </h3>
        <h3>Group Info</h3>
        <h3>Matches</h3>
    </center>

</body>
</html>